@import '../variables';
@import '../keyframe';
@import '../base/typography';

header.headerPage{
 display:grid;
 grid-auto-flow: column;
 grid-template-columns: 1fr 6fr;
 justify-items: center;
 align-items: center;
 padding:1%;
 div.vinyl{
  margin:auto;
  height:100%;
  aspect-ratio: 1 / 1;
  background: radial-gradient(circle, 
   #000 18%, 
   #111 19%, 
   #000 20%, 
   #111 21%, 
   #000 23%, 
   #111 24%, 
   #000 26%, 
   #111 27%, 
   #000 29%, 
   #111 30%, 
   #000 33%, 
   #111 34%, 
   #000 36%, 
   #111 37%, 
   #000 40%, 
   #111 41%, 
   #000 44%, 
   #111 45%, 
   #000 48%, 
   #111 49%, 
   #000 52%, 
   #111 53%, 
   #000 56%, 
   #111 57%, 
   #000 60%, 
   #111 61%, 
   #000 64%, 
   #111 65%,
   #000 68%);
 border-radius: 50%;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
 position: relative;
 animation: vinyl 5s linear infinite;
 &::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18%;
  height: 18%;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 5%, rgba(0,0,0,1) 6%, rgba(255,255,255,0) 7%),url('https://img.welt.de/img/kultur/mobile101984758/6812501287-ci102l-w1024/piaf-47-portraet-DW-Kultur-Koeln-jpg.jpg');
  background-size: cover;
  border: 2px solid #333;
  border-radius: 50%;

}
 }
 h1{
  font-family: "Dancing Script";
  font-size: 10vw;
 }
}