@import '../variables';

nav {
 font-family: "Montserrat", sans-serif;
 background-color: $CarmineRed;
 ul{
  display:grid;
  grid-auto-flow: column;
  list-style-type: none;
  justify-items: center;
  li {
   padding:1vw 2vw;
   text-align: center;
   &:hover{
    background-color: $OffWhite; /* Blanc cassé */
    cursor:pointer;
    color: $CarmineRed;
   }
   a,a:visited,a:link {color: $OffWhite;padding:1vw 2vw;}

  }
 }

}
