$DeepBlack: hsla(0, 0%, 10%, 1); //Teinte neutre et sombre pour les arrière-plans ou les titres élégants.
$CarmineRed : hsla(0, 68%, 41%, 1); //Couleur vive et passionnée, idéale pour les boutons, liens ou accents visuels.
$VintageBeige :  hsla(42, 38%, 91%, 1); //Ton doux et rétro pour les arrière-plans ou sections claires.
$OffWhite : hsla(39, 70%, 96%, 1); //Couleur neutre claire pour les textes et arrière-plans subtils.